section.portfolio {
  width: 100%;
  min-height: 100vh;

  h1.portfolio__title {
    margin: 30px auto;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    width: 130px;
    height: 50px;
  }
  h1.portfolio__title::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 55%;
    padding-top: 20px;
    border-bottom: 2px solid white;
  }

  p.portfolio__text {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    line-height: 32px;
  }

  div.portfolio__gallery {
    margin: 50px auto 0;
    width: 90%;
  }
}
