::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgba(73, 59, 62, 0.952);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
