section.services {
  width: 100%;
  margin-top: -30px;
  background: transparent;
  background-image: url("../images/złote\ logo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px 0;
  // display: none;

  h1.services__title {
    margin: 40px auto 30px;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    width: 130px;
    height: 50px;
  }
  h1.services__title::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 55%;
    padding-top: 20px;
    border-bottom: 2px solid white;
  }
  img.services__img {
    position: fixed;
    z-index: -1;
  }
  p.services__text {
    width: 80%;
    margin: 50px auto 80px;
    text-align: end;
    line-height: 30px;
  }
}
