* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 200vh;
  background-color: #000;
  width: 100%;
  color: rgb(240, 229, 208);
}

div.wrapper {
  max-width: 1920px;
  margin: 0 15px;
  @media (min-width: 1920px) {
    margin: 0 auto;
  }
}

@import "./Header";
@import "./Heading";
@import "./AboutMe";
@import "./Portfolio";
@import "./Services";
@import "./Cooperation";
@import "./Contact";
@import "./Navigation";
